In [5]:
import numpy as np
import os
import pandas as pd

In [6]:
df=pd.read_excel("C:\\Users\\Gudavalli\\Desktop\\IIDT\\MACHINE LEARNING\\simple.xlsx",sheet_name='simple')
df.columns=['y','x']

In [7]:
df['x2']=df['x']**2
df['y2']=df['y']**2
df['xy']=df['x']*df['y']

In [8]:
df

       y   x   x2         y2      xy
0  23.80   7   49   566.4400  166.60
1  11.89   3    9   141.3721   35.67
2  15.98   2    4   255.3604   31.96
3  26.11   5   25   681.7321  130.55
4  31.79   8   64  1010.6041  254.32
5  39.93  11  121  1594.4049  439.23
6  12.27   5   25   150.5529   61.35
7  40.06  15  225  1604.8036  600.90
8  21.38   3    9   457.1044   64.14
9  18.65   6   36   347.8225  111.90

In [23]:
total=df.sum()
total

y      241.860
x       65.000
x2     567.000
y2    6810.197
xy    1896.620
dtype: float64

In [24]:
#variance of x
var_x=(1/9)*(total[2]-((total[1])**2/10))
var_x

16.055555555555554

In [36]:
#standard deviation of x
std_x=np.sqrt(var_x)
std_x

4.006938426723769

In [25]:
# co variance of x
cov_xy=(1/9)*(total[4]-(total[1]*total[0])/10)
cov_xy

36.05888888888888

In [28]:
b1=cov_xy/var_x
b1

2.245882352941176

In [27]:
b0=df['y'].mean()-b1*df['x'].mean()
b0

9.587764705882355

In [ ]:
# least square line y=b0+b1x
y=9.58+2.25x

In [9]:
from statsmodels.formula.api import ols
import statsmodels.api as sm
model=ols('y~x',df).fit()

In [32]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.759
Model:                            OLS   Adj. R-squared:                  0.729
Method:                 Least Squares   F-statistic:                     25.16
Date:                Wed, 29 Jan 2020   Prob (F-statistic):            0.00103
Time:                        15:05:09   Log-Likelihood:                -29.904
No. Observations:                  10   AIC:                             63.81
Df Residuals:                       8   BIC:                             64.41
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      9.5878      3.371      2.844      0.022       1.814      17.362
x              2.2459      0.448      5.016      0.001       1.213       3.278
==============================================================================
Omnibus:                        1.705   Durbin-Watson:                   1.946
Prob(Omnibus):                  0.426   Jarque-Bera (JB):                0.847
Skew:                          -0.264   Prob(JB):                        0.655
Kurtosis:                       1.676   Cond. No.                         15.1
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [10]:
# GET BETA COEFFICIENTS
model.params

Intercept    9.587765
x            2.245882
dtype: float64

In [11]:
# get the predicted values
model.predict()

array([25.30894118, 16.32541176, 14.07952941, 20.81717647, 27.55482353,
       34.29247059, 20.81717647, 43.276     , 16.32541176, 23.06305882])

In [35]:
#variance of y
var_y=(1/9)*(total[3]-((total[0])**2)/10)
var_y

106.73011555555553

In [12]:
# to get residuals
df['y']-model.predict()

0   -1.508941
1   -4.435412
2    1.900471
3    5.292824
4    4.235176
5    5.637529
6   -8.547176
7   -3.216000
8    5.054588
9   -4.413059
Name: y, dtype: float64

In [15]:
# to get the residulas in another way
model.resid

0   -1.508941
1   -4.435412
2    1.900471
3    5.292824
4    4.235176
5    5.637529
6   -8.547176
7   -3.216000
8    5.054588
9   -4.413059
dtype: float64

In [16]:
#standard error numerator
num=(1/8)*((model.resid)**2).sum()
num

28.964354999999998

In [17]:
# standard error denominator
den=np.sum((df['x']-df['x'].mean())**2)
den

144.5

In [18]:
#standard error
np.sqrt(num/den)

0.4477112499388409

In [37]:
#standard deviation of y
std_y=np.sqrt(var_y)
std_y

10.331026839358977

In [19]:
#standard error of mean(y)(dependent variable)
df['y'].std()/np.sqrt(10)
# since there are no independent variables affecting we will divide by N.

3.266957538070483

In [ ]:
#scipy.stats.sem ()

In [38]:
#coefficient of correlation
r=cov_xy/(std_x*std_y)
r

0.8710762678126169

In [39]:
#coefficient of determination r2
#measures the amount of variation in dependent variable that is explained by the variation in independent variable.
square_r=r**2
square_r
#76% of variation in dependent variable is explained by variation in independent variable.

0.758773864346358

In [ ]:
#2
# bonus is dependent variable and years is independent variable

In [ ]:
#h0=no impact of years on bonus
#h1= there is a impact of years on bonus

In [43]:
df1=pd.read_excel("C:\\Users\\Gudavalli\\Desktop\\IIDT\\MACHINE LEARNING\\simple.xlsx",sheet_name='ex')
df1.columns=['y','x']
df1

    y  x
0   6  1
1   1  2
2   9  3
3   5  4
4  17  5
5  12  6

In [44]:
df1['x2']=df1['x']**2
df1['y2']=df1['y']**2
df1['xy']=df1['x']*df1['y']

In [46]:
df1

    y  x  x2   y2  xy
0   6  1   1   36   6
1   1  2   4    1   2
2   9  3   9   81  27
3   5  4  16   25  20
4  17  5  25  289  85
5  12  6  36  144  72

In [48]:
total1=df1.sum()
total1

y      50
x      21
x2     91
y2    576
xy    212
dtype: int64

In [52]:
#variance of x
var_x1=(1/5)*(total1[2]-((total1[1])**2)/6)
var_x1

3.5

In [54]:
#stanadrd deviation of x
std_x1=np.sqrt(var_x1)
std_x1

1.8708286933869707

In [53]:
#varaince of y
var_y1=(1/5)*(total1[3]-((total1[0])**2)/6)
var_y1

31.866666666666664

In [55]:
#standard deviation of y
std_y1=np.sqrt(var_y1)
std_y1

5.645056834671079

In [56]:
#co variance of xy
cov_xy1=(1/5)*(total1[4]-(total1[1]*total1[0])/6)
cov_xy1

7.4

In [57]:
b1=cov_xy1/var_x1
b1

2.1142857142857143

In [59]:
b0=df1['y'].mean()-b1*df1['x'].mean()
b0

0.9333333333333336

In [60]:
from statsmodels.formula.api import ols
import statsmodels.api as sm
model=ols('y~x',df1).fit()

In [61]:
model.summary()

C:\Users\Gudavalli\Anaconda3\lib\site-packages\statsmodels\stats\stattools.py:71: ValueWarning: omni_normtest is not valid with less than 8 observations; 6 samples were given.
  "samples were given." % int(n), ValueWarning)

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.491
Model:                            OLS   Adj. R-squared:                  0.364
Method:                 Least Squares   F-statistic:                     3.858
Date:                Wed, 29 Jan 2020   Prob (F-statistic):              0.121
Time:                        15:42:55   Log-Likelihood:                -16.326
No. Observations:                   6   AIC:                             36.65
Df Residuals:                       4   BIC:                             36.23
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.9333      4.192      0.223      0.835     -10.705      12.572
x              2.1143      1.076      1.964      0.121      -0.874       5.103
==============================================================================
Omnibus:                          nan   Durbin-Watson:                   3.341
Prob(Omnibus):                    nan   Jarque-Bera (JB):                0.556
Skew:                           0.120   Prob(JB):                        0.757
Kurtosis:                       1.528   Cond. No.                         9.36
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [62]:
#coefficeint of correlation
r1=cov_xy1/(std_x1*std_y1)
r1

0.7006955813110701

In [63]:
#coefficient of determination
r1**2

0.4909742976688585